*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
.font {
    font-family: "firaGo", sans-serif !important;
    font-weight: 400;
}

button {
    user-select: none;
    -webkit-user-select: none;
}

.cont {
    max-width: 1400px;
}

.header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #212121;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
body.dark_mode .header{
    background-color: rgb(244, 244, 244);
}
.header .header_inner {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header_inner .header_logo_link {
    width: 45px;
    height: 45px;
    display: block;
}

.header .header_inner .header_logo_link img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}

.header .header_inner nav {
    display: flex;
}

.header .header_inner nav ul {
    display: flex;
    gap: 25px;
}

.header .header_inner nav ul li {
    list-style-type: none;
}

.header .header_inner nav ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}
.header .header_inner .toggle {
    position: relative;
    width: 30px;
    height: 30px;

    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;

    cursor: pointer;
}

.header .header_inner .toggle .line {
    width: 30px;
    height: 4px;
    border-radius: 1px;
    background-color: #fff;
    display: block;

    transition: 0.2s linear;
}

.header .header_inner .toggle.active .line:nth-child(1) {
    transform: translateY(12px) rotate(-45deg);
}

.header .header_inner .toggle.active .line:nth-child(2) {
    opacity: 0;
    transform: translateX(0) rotate(-45deg);
}

.header .header_inner .toggle.active .line:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
}
.footer{
    width: 100%;
    height: auto;
    padding: 5px 0;

    border-top: 1px solid rgb(62, 62, 62);
    background-color: #1a1a1a;

    display: flex;
    align-items: center;
    justify-content: center;
}
body.dark_mode .footer{
    border-top: 1px solid rgb(214, 214, 214) !important;
    background-color: rgb(244, 244, 244) !important;
}
.footer .footer_inner{
    width: 90%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .footer_inner .footer_text{
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.footer .footer_inner .footer_text span{
    font-size: 16px;
}
.footer .footer_inner .social_list{
    display: flex;
    gap: 20px;
}
.footer .footer_inner .social_list li{
    list-style-type: none;
}
.footer .footer_inner .social_list li a{
    text-decoration: none;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
}
.footer .footer_inner .social_list li a i,
.footer .footer_inner .social_list li a svg{
    width: 28px;
    height: 28px;
    fill: #fff;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 820px) {
    .header .header_inner {
        width: 100%;
        padding: 0 17px;
    }

    .header .header_inner nav {
        position: absolute;
        left: 0;
        top: -250px;
        width: 100%;
        height: 100vh;
        background-color: #333;

        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;

        transition: top 300ms, visibility 301ms, opacity 301ms;
    }
    body.dark_mode .header .header_inner nav,
    body.dark_mode .header .header_inner nav.active{
        background-color: #fff !important;
    }
    .header .header_inner nav.active {
        top: 0;
        opacity: 1;
        visibility: visible;
    }

    .header .header_inner nav ul {
        width: 60%;
        min-width: 180px;
        flex-direction: column;
        text-align: center;
    }

    .header .header_inner nav ul li a {
        display: block;
        text-align: center;

        font-size: 22px;
    }

    .header .header_inner .toggle {
        display: flex;
    }
}