:root {
    --color-text: #616161;
    --color-text-btn: #ffffff;
    --card1-gradient-color1: #f12711;
    --card1-gradient-color2: #f5af19;
    --card2-gradient-color1: #7F00FF;
    --card2-gradient-color2: #E100FF;
    --card3-gradient-color1: #3f2b96;
    --card3-gradient-color2: #a8c0ff;
    --card4-gradient-color1: #11998e;
    --card4-gradient-color2: #38ef7d;
}

main {
    width: 100%;
    min-height: 600px;

    background-color: #272727;
}

body.dark_mode .hero_card_sec_inner .cards_cont .cards_inner .cards_inner_card_box {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1) !important;
    background-color: rgb(211 211 211) !important;
}

body.dark_mode .hero_card_sec_inner .cards_cont .cards_inner .cards_inner_card_box .card_info {
    color: #535353 !important;
}

body.dark_mode .card>.row>.description h4,
body.dark_mode .card>.row>.description p,
body.dark_mode .card>.row>.icon {
    color: #fff !important;
    transition: none !important;
}

body.dark_mode .header .header_inner .toggle .line {
    background-color: #000;
}

/* hero section */

.hero {
    width: 100%;
    height: 760px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .hero_inner {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .hero_inner .text_sec {
    margin-left: 5px;
    width: 465px;
    color: #fff;
}

.hero .hero_inner .text_sec h1 {
    font-weight: 700;
    font-size: 42px;
    color: #981de4 !important;
}

.hero .hero_inner .text_sec p {
    margin-top: 10px;
    font-weight: 600;
    font-size: 17px;
    color: #bebebe;
}

.hero .hero_inner .text_sec .btn_box {
    margin-top: 20px;
}

.hero .hero_inner .text_sec .btn_box button {
    background-color: #7a13ba;
    border: 3px solid #7a13ba;
    border-radius: 4px;
    cursor: pointer;

    transition: background-color 0.4s, border 0.4s;
}

.hero .hero_inner .text_sec .btn_box button:hover {
    background-color: rgba(122, 19, 186, 0);
    border: 3px solid #7a13ba;
    color: #fff;
}

.hero .hero_inner .text_sec .btn_box button a {
    text-decoration: none;
    position: relative;
    padding: 15px 21px;

    display: flex;

    font-weight: 600;
    font-size: 16px;
    color: #fff;
    transition: color;
}
body.dark_mode .hero .hero_inner .text_sec .btn_box button:hover a{
    color: #000 !important;
}

.hero .hero_inner .wrapper {
    position: relative;
    min-width: 710px;
    width: 4%;
    min-height: 282px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    right: -6px;
    height: 280px;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    position: relative;
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden !important;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    display: block;
    z-index: 1;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.card>.row {
    z-index: 99;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 5px;
    background: linear-gradient(#00000000 2%, rgb(0, 0, 0));
}

.card>.row>.icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px !important;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card>.row>.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 50%;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    font-size: 14px;
    padding-top: 5px;
}

.description h4 {
    font-size: 16px;
    text-transform: uppercase;
}

.hero .hero_inner .wrapper input {
    display: none;
}

.hero .hero_inner .wrapper input:checked+label {
    width: 400px;
}

.hero .hero_inner .wrapper input:checked+.card>.row>.description {
    width: 76%;
}

input:checked+label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.hero_card_sec {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_card_sec .hero_card_sec_inner {
    padding: 80px 0;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_card_sec .hero_card_sec_inner .cards_cont {
    margin: 10px 0;
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_card_sec_inner .cards_cont .cards_inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.hero_card_sec_inner .cards_cont .cards_inner .cards_inner_card_box {
    padding: 12px;
    min-width: 370px;
    width: 32.4%;
    aspect-ratio: 16/9;

    border-radius: 10px;

    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    background-color: rgb(92, 92, 92);
}

.cards_cont .cards_inner .cards_inner_card_box .card_icon {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.009);

    user-select: none;
    -webkit-user-select: none;
}

.cards_cont .cards_inner .cards_inner_card_box:nth-child(1) .card_icon {
    background-color: #05cd91;
}

.cards_cont .cards_inner .cards_inner_card_box:nth-child(2) .card_icon {
    background-color: #ff611d;
}

.cards_cont .cards_inner .cards_inner_card_box:nth-child(3) .card_icon {
    background-color: #87134b;
}

.cards_cont .cards_inner .cards_inner_card_box:nth-child(4) .card_icon {
    background-color: #801efd;
}

.cards_cont .cards_inner .cards_inner_card_box:nth-child(5) .card_icon {
    background-color: #07a1da;
}

.cards_cont .cards_inner .cards_inner_card_box:nth-child(6) .card_icon {
    background-color: #811eff;
}

.cards_cont .cards_inner .cards_inner_card_box .card_icon i,
.cards_cont .cards_inner .cards_inner_card_box .card_icon svg {
    width: 28px;
    height: 28px;
    font-size: 28px;
    color: #fff !important;
    fill: #fff !important;
    pointer-events: none;
}

.cards_cont .cards_inner .cards_inner_card_box .card_title {
    margin-top: 15px;
    font-weight: 800;
    font-size: 22px;
    color: #fff;
}

.cards_cont .cards_inner .cards_inner_card_box .card_info {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #e7e7e7;
}

/* ? about section */
.about {
    width: 100%;
    height: 750px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.about .about_inner {
    width: 90%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about .about_inner .text_sec {
    margin-left: 10px;
    width: 500px;
}

.about .about_inner .text_sec .about_sec_title {
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 58px;
    color: #981de4 !important;
}

.about .about_inner .text_sec .about_info {
    font-weight: 500;
    font-size: 15px;
    color: #d4d4d4;
}

.about .about_inner .img_box {
    position: relative;
    margin-right: 10px;
    width: 440px;
    aspect-ratio: 1/1;

    border-radius: 5px;
    overflow: hidden;
}

.about .about_inner .img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: contain;
    pointer-events: none;
}

/* ? curses section */
.courses {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.courses .courses_inner {
    position: relative;
    padding-bottom: 100px;
    width: 90%;
    height: 100%;
}

.courses .courses_inner .sec_title {
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    color: #981de4 !important;
}

.courses_cards_inner {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.card-wrap {
    position: relative;
    width: 220px;
    min-height: 450px;
    background: #fff;
    border-radius: 20px;
    border: 5px solid #fff;
    overflow: hidden;
    color: var(--color-text) !important;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all .2s ease-in-out;
}

.card-wrap:hover {
    transform: scale(1.05);
}

.card-header {
    height: 200px;
    width: 100%;
    background: turquoise;
    border-radius: 100% 0% 100% 0% / 0% 50% 50% 100%;
    display: grid;
    place-items: center;

}

.card-header i {
    color: #fff !important;
    font-size: 72px;
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}

.card-header svg {
    width: 72px;
    height: 72px;
    fill: #fff !important;
    display: block;
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.card-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-text {
    text-align: center;
    font-weight: 500;
    min-height: 56px;
    font-size: 12px;
    margin-bottom: 20px;
}

button.card-btn {
    position: relative;
    bottom: 0;
    border-radius: 100px;
    border: none;
    font-weight: 600;
    color: #fff !important;
    padding: 9px 30px;
    cursor: pointer;
    text-transform: uppercase;
}

.card-wrap:nth-child(1) .card-header {
    background: linear-gradient(to bottom left, var(--card1-gradient-color1), var(--card1-gradient-color2));
}

.card-wrap:nth-child(2) .card-header {
    background: linear-gradient(to bottom left, var(--card2-gradient-color1), var(--card2-gradient-color2));
}

.card-wrap:nth-child(3) .card-header {
    background: linear-gradient(to bottom left, var(--card3-gradient-color1), var(--card3-gradient-color2));
}

.card-wrap:nth-child(4) .card-header {
    background: linear-gradient(to bottom left, var(--card4-gradient-color1), var(--card4-gradient-color2));
}

.card-wrap:nth-child(1) .card-btn {
    background: linear-gradient(to left, var(--card1-gradient-color1), var(--card1-gradient-color2));
}

.card-wrap:nth-child(2) .card-btn {
    background: linear-gradient(to left, var(--card2-gradient-color1), var(--card2-gradient-color2));
}

.card-wrap:nth-child(3) .card-btn {
    background: linear-gradient(to left, var(--card3-gradient-color1), var(--card3-gradient-color2));
}

.card-wrap:nth-child(4) .card-btn {
    background: linear-gradient(to left, var(--card4-gradient-color1), var(--card4-gradient-color2));
}



@media screen and (max-width: 1375px) {
    .hero .hero_inner .text_sec h1 {
        font-size: 38px;
    }

    .hero .hero_inner .text_sec p {
        font-size: 16px;
    }

    .hero .hero_inner .wrapper {
        width: fit-content;
        margin-left: 42px;
        min-width: 640px;
        height: 50px;
    }

    .container {
        width: fit-content;
        height: 260px;
    }

    input:checked+label {
        width: 350px;
    }

    .card {
        width: 70px;
        height: 260px;
    }

    .card>.row>.icon {
        margin-left: 10px;
    }
}

@media screen and (max-width: 1220px) {
    .hero .hero_inner .text_sec h1 {
        font-size: 34px;
    }

    .hero .hero_inner .text_sec p {
        font-size: 14px;
    }

    .hero .hero_inner .text_sec .btn_box button a {
        padding: 14px 20px;
        font-size: 15px;
    }
}

@media screen and (max-width: 1130px) {
    .hero .hero_inner .wrapper {
        min-width: 595px;
    }

    .container {
        height: 240px;
    }

    .card>.row>.icon {
        margin-top: 25px;
        margin-left: 6px;
        width: 40px !important;
        height: 40px;
    }

    .card {
        width: 55px;
        height: 240px;
    }
    .about .about_inner .img_box{
        margin-left: 20px;
        margin-right: 0px
    }
}

@media screen and (max-width: 1030px) {
    .hero {
        height: auto;
    }

    .hero .hero_inner {
        position: relative !important;
        padding-top: 170px;
        padding-bottom: 85px;

        display: flex;
        gap: 80px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero .hero_inner .text_sec {
        text-align: center;
        margin: 0 auto;
    }

    .hero .hero_inner .wrapper {
        width: 100% !important;
        margin: 0;
        min-width: none !important;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero .hero_inner .wrapper .container {
        width: 580px !important;
        right: auto;
    }
    
    input:checked+label {
        max-width: 350px;
        width: 100%;
    }
}
@media screen and (max-width: 1024px){
    .card-wrap {
        transition: none;
    }
    .hero .hero_inner .text_sec .btn_box button:hover {
        background-color: #7a13ba;
        border: 3px solid #7a13ba;
        color: #fff;
    }
    body.dark_mode .hero .hero_inner .text_sec .btn_box button:hover a{
        color: #fff !important;
    }
    .card-wrap:hover{
        transform: scale(1);
    }
}
@media screen and (max-width: 990px) {
    .about{
        height: auto;
    }
    .about .about_inner{
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 30px;
        flex-direction: column;
    }
    .about .about_inner .text_sec{
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 650px;
    }
    .about .about_inner .text_sec .about_sec_title,
    .courses .courses_inner .sec_title{
        font-size: 48px;
    }
    .about .about_inner .img_box{
        margin: 0 auto;
        width: 100%;
        max-width: 450px;
    }
}
@media screen and (max-width: 860px){
    .hero_card_sec_inner .cards_cont .cards_inner .cards_inner_card_box {
        min-width: 370.484px;
        width: 48.4%;
    }
    .cards_cont .cards_inner .cards_inner_card_box .card_icon{
        width: 45px;
        height: 45px;
    }
    .cards_cont .cards_inner .cards_inner_card_box .card_icon i, .cards_cont .cards_inner .cards_inner_card_box .card_icon svg {
        width: 26px;
        height: 26px;
        font-size: 26px;
    }
    .cards_cont .cards_inner .cards_inner_card_box .card_title{
        font-size: 20px;
    }
    .cards_cont .cards_inner .cards_inner_card_box .card_info{
        font-size: 13px;
    }
}
@media screen and (max-width: 685px){
    .hero .hero_inner .text_sec{
        max-width: 465px;
        width: 100%;
    }
    .hero .hero_inner .wrapper{
        position: relative;
        margin: 0 auto;
        width: 100% !important;
        min-width: 0 !important;
        height: fit-content;

        display: flex;

    }
    .hero .hero_inner .wrapper .container {
        position: relative;
        width: 100% !important;
        min-width: none !important;
        height: fit-content !important;

        gap: 20px;
        flex-wrap: wrap;
    }
    .card{
        margin: 0 !important;
        min-width: fit-content !important;
        height: 80px;
        transition: all .3s ease;
    }
    .description p{
        max-height: 51px;
        text-overflow: ellipsis;
    }
    .hero .hero_inner .wrapper input:checked+label{
        max-width: none !important;
        width: 100% !important;
        height: 280px !important;
    }
}
@media screen and (max-width: 671px){
    .hero_card_sec_inner .cards_cont .cards_inner .cards_inner_card_box{
        min-width: 0;
        max-width: 346.469px;
        width: 100%;
    }
}
@media screen and (max-width: 480px){
    .about .about_inner .text_sec .about_sec_title,
    .courses .courses_inner .sec_title{
        font-size: 44px;
    }
    .about .about_inner .text_sec .about_info{
        font-size: 14px;
    }
}
@media screen and (max-width: 455px){
    .hero .hero_inner .wrapper input:checked+label{
        height: 240px !important;
    }
}
@media screen and (max-width: 365px){
    .about .about_inner .text_sec .about_sec_title,
    .courses .courses_inner .sec_title {
        font-size: 40px;    
    }
}
@media screen and (max-width: 360px){
    .description h4{
        font-size: 14px;
    }
    .description p{
        font-size: 12px;
    }
}
@media screen and (max-width: 345px){
    .hero .hero_inner .wrapper input:checked+label{
        height: 180px !important;
    }
}